<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Style/log.css">
</head>

<body>
    <section class="login">
        <div class="titulo">Log In</div>
        <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <center><img src="log2.png" style="width: 100px; height:100px;"></center>
            <input type="text" name="username" required title="Username required" placeholder="Username" data-icon="U">
            <br><br>
            <input type="password" name="password" required title="Password required" placeholder="Password"
                data-icon="x">
            <div class="olvido">
                <div class="col"><a href="SignUp" title="Ver Carásteres">Register</a></div>
                <div class="col"><a href="#" title="Recuperar Password">Fotgot Password?</a></div>
            </div>
            <input type="submit" value="Login">

        </form>
    </section>
</body>

</html>